<?php

$title = 'Add New Customer';
$this->headTitle($title);
?>

<?php
$form->setAttribute('action', $this->url('add', ['action' => 'add']));
// $form->setAttribute('method', 'post');

$firstname = $form->get('firstname');
$firstname->setAttribute('class', 'form-control');
$firstname->setAttribute('placeholder', 'First Name');

$lastname = $form->get('lastname');
$lastname->setAttribute('class', 'form-control');
$lastname->setAttribute('placeholder', 'Last Name');

$startdate = $form->get('startdate');
$startdate->setAttribute('class', 'form-control');
$startdate->setAttribute('id', 'startdate');
$startdate->setAttribute('type', 'date');
$startdate->setAttribute('placeholder', 'Start Date');

$enddate = $form->get('enddate');
$enddate->setAttribute('class', 'form-control');
$enddate->setAttribute('id', 'enddate');
$enddate->setAttribute('type', 'date');
$enddate->setAttribute('placeholder', 'End Date');

$policynumber = $form->get('policynumber');
$policynumber->setAttribute('class', 'form-control');
$policynumber->setAttribute('placeholder', 'Policy Number');
$policynumber->setAttribute('maxlength', '15');

$premium = $form->get('premium');
$premium->setAttribute('class', 'form-control');
$premium->setAttribute('placeholder', 'Premium');

$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');
$submit->setAttribute('value', 'Add');
$form->prepare();

echo $this->form()->openTag($form);

?>

<div class="card">
  <div class="card-header">
    <h1><?= $this->escapeHtml($title) ?></h1>
  </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-6">
                <?= $this->formLabel($firstname) ?>
                <?= $this->formElement($firstname) ?>
                <?= $this->formElementErrors()->render($firstname, ['class' => 'help-block']) ?>
            </div>

            <div class="form-group col-6">
                <?= $this->formLabel($lastname) ?>
                <?= $this->formElement($lastname) ?>
                <?= $this->formElementErrors()->render($lastname, ['class' => 'help-block']) ?>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <?= $this->formLabel($startdate) ?>
                <?= $this->formElement($startdate) ?>
                <?= $this->formElementErrors()->render($startdate, ['class' => 'help-block']) ?>
            </div>

            <div class="form-group col-6">
                <?= $this->formLabel($enddate) ?>
                <?= $this->formElement($enddate) ?>
                <?= $this->formElementErrors()->render($enddate, ['class' => 'help-block']) ?>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <?= $this->formLabel($policynumber) ?>
                <?= $this->formElement($policynumber) ?>
                <?= $this->formElementErrors()->render($policynumber, ['class' => 'help-block']) ?>
            </div>

            <div class="form-group col-6">
                <?= $this->formLabel($premium) ?>
                <?= $this->formElement($premium) ?>
                <?= $this->formElementErrors()->render($premium, ['class' => 'help-block']) ?>
            </div>
        </div>
        <div class="row text-center">
            <div class="form-group col-12">
                <a class="btn btn-info" href="<?= $this->url('home', ['action' => 'home']) ?>">Back</a>
                <?php echo $this->formSubmit($submit); ?>
            </div>
        </div>
    </div>
</div>
<?php 
echo $this->formHidden($form->get('id'));
echo $this->form()->closeTag();

?>