<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */
?>

    <div class="container-fluid">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Customers Module</h2></div>
                    <div class="col-sm-4 text-right">
                        <a class="btn btn-info" href="<?= $this->url('add', ['action' => 'add']) ?>">Add</a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" style="width:100%" id="customer">
                <thead align="center">
                    <tr>
                        <th scope="col">Sr.No.</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Policy Number</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Premium</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($customers as $key => $customer) { ?>
                    <tr>
                        <td scope="col"><?php echo $key + 1; ?></td>
                        <td scope="col"><?php echo $customer->firstname; ?></td>
                        <td scope="col"><?php echo $customer->lastname; ?></td>
                        <td scope="col"><?php echo $customer->policynumber; ?></td>
                        <td scope="col"><?php echo $customer->startdate; ?></td>
                        <td scope="col"><?php echo $customer->enddate; ?></td>
                        <td scope="col"><?php echo $customer->premium; ?></td>
                        <td scope="col">
                            <a class="btn btn-success" href="<?= $this->url('view', ['action' => 'view','id' => $customer->id]) ?>">View</a>

                            <a class="btn btn-info" href="<?= $this->url('edit', ['action' => 'edit','id' => $customer->id]) ?>">Edit</a>

                            <a class="btn btn-danger delete" href="<?= $this->url('delete', ['action' => 'delete','id' => $customer->id]) ?>">Delete</a>
                        </td>
                    </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
    <script src="<?php echo $this->basePath() . '/js/jquery-3.5.1.min.js' ?>" type="text/javascript"></script>
    <script>
        $( document ).ready(function() {
            var customer_table = $('#customer').DataTable();
        });
    </script>
