<?php
// module/Album/view/album/album/edit.phtml:

$title = 'View Customer';
$this->headTitle($title);
?>
<div class="card">
    <div class="card-header">
        <h1><?= $this->escapeHtml($title) ?></h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-6">
                <input type="text" name="id" class="form-control" value="<?php echo $customer->firstname; ?>" />
            </div>

            <div class="form-group col-6">
                <input type="text" name="id" class="form-control" value="<?php echo $customer->lastname; ?>" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <input type="text" name="id" class="form-control" value="<?php echo $customer->startdate; ?>" />
            </div>

            <div class="form-group col-6">
                <input type="text" name="id" class="form-control" value="<?php echo $customer->enddate; ?>" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <input type="text" name="id" class="form-control" value="<?php echo $customer->policynumber; ?>" />
            </div>

            <div class="form-group col-6">
                <input type="text" name="id" class="form-control" value="<?php echo $customer->premium; ?>" />
            </div>
        </div>
        <div class="row text-center">
            <div class="form-group col-12">
                <a class="btn btn-info" class="form-control" href="<?= $this->url('home', ['action' => 'home']) ?>">Back</a>
            </div>
        </div>
    </div>
</div>
